@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);



body {
  background-color: #f3c897;
  font-family: Poiret One;
}

.widget {   
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  max-height: 300px;
  max-width: 600px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.weatherIcon{
    flex: 1 100%;
    max-height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FAFAFA;
    font-family: weathericons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
  }
.weatherIcon i{
    padding-top: 30px;
  }
  
.weatherInfo{
    flex: 0 0 70%;
    max-height: 40%;
    background: #080705;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
    

  }
.temperature{
    flex: 0 0 40%;
    max-width: 100%;
    font-size: 65px;
    display: flex;
    justify-content: space-around;
}
  
.description{
      flex: 0 60%;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      max-height: 100%;
      justify-content: center;
      
}
.weatherCondition{
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 100;
        padding-left: 40px;
}
      
   
    
.place{
        font-size: 25px;
        padding-left: 40px;
}
  
.wind{
    flex: 0 0 30%;
    max-height: 40%;
    background: #70C1B3;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
}


p{
  position: fixed;
  bottom: 0%;
  right: 2%;
  
}
p a{
    text-decoration: none;
    color: #E4D6A7;
    font-size: 10px;
  }
.input{
    max-width: 100%;
    text-align: center;
    align-items: center;
}

@media only screen and (max-width:600px) {

  .widget {   
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  max-height: 400px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.weatherIcon{
    flex: 1 100%;
    max-height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FAFAFA;
    font-family: weathericons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
  }
.weatherIcon i{
    padding-top: 30px;
  }
  
.weatherInfo{
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 30%;
    border-bottom-left-radius: 0px;
    background: #080705;
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: white;
}
.temperature{
    flex: 0 0 40%;
    max-width: 50%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}
  
.description{
      flex: 0 60%;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      max-height: 100%;
      justify-content: center;
      
}
.weatherCondition{
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 70;
        padding-left: 20px;
}
      
   
    
.place{
        font-size: 25px;
        padding-left: 20px;
}
  
.wind{
    flex: 0 0 100%;
    max-height: 40%;
    background: #70C1B3;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
}


p{
  position: fixed;
  bottom: 0%;
  right: 2%;
  
}
p a{
    text-decoration: none;
    color: #E4D6A7;
    font-size: 10px;
  }

  
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  max-width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  max-width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  max-height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  max-width: 40px;
  max-height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  max-width: 30%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}